.about-section{
    background: var(--Primary, #6D9DC5);
    padding: 38px 0 99px 0;
    position: relative;
}

.about-head-text{
    margin-bottom: 55px;
    h1{
        color: var(--ffffff, #FFF);
text-align: center;
font-family: Satoshi;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
}

.about-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about-item{
    transition: .3s;
ul{

    li{
        margin-bottom: 24px;
        a{
            color: var(--Black, #212529);
    font-family: Satoshi;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: .3s;
    &:hover{
        color: var(--ffffff, #FFF);
        
    }
    
    }
}
}}

.about-img-text{
    p{
        color: var(--ffffff, #FFF);
font-family: Satoshi;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
margin-top: 33px;
    }
}

.about-text-clom{
    position: absolute;
    left: 0;
    top: 50%;
    h4{
        color: #FFF;
        font-family: Satoshi;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transform: rotate(-90deg);
    }
}

.about-menu-text{
    padding: 300px 0 481px 0;
    text-align: center;
    h1{
        color: var(--Secondary, #91C48A);
text-align: center;
font-family: Satoshi;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 24px;
    }
    p{
        color: var(--090909, #090909);
text-align: center;
font-family: Satoshi;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
}

.aboutt-bg{
    background-image: url(./../img/banner/banner-grp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutt-section{
    background: #F8F4F0;
}