.works{
    margin-bottom: 60px;
}

.work-hed-text{
    h1{
        color: var(--Black, #212529);
        text-align: center;
        font-family: Satoshi;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 42px;
        span{
            color: var(--Secondary, #91C48A);
        }
    }
}

.work-bg{
    padding: 100px 0 30px 0;
}

.work-with{
    position: relative;
}
.work-with-avsolt{
    img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 720px;
height: 662.33px;
z-index: -1;
    }
}

.virtual-head-text{
    text-align: center;
    p{
        color: #FFF;
text-align: center;
font-family: Satoshi;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 34px; 
padding: 24px 360px 60px 360px;
    }
}

.icon-fac{
    text-align: end;
    img{
        width: 30px;
height: 30px;
margin-bottom: 14px;
    }
    h3{
        color: var(--141-a-60, #141A60);
font-family: Satoshi;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
}
.assist-slid{
    h3{
        color: var(--090909, #090909);
        font-family: Satoshi;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 14px;
    }
    p{
        color: var(--6-d-6-d-6-d, #6D6D6D);
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
    }
}

.box-client{
    h6{
        color: var(--090909, #090909);
text-align: center;
font-family: Satoshi;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 24px;
span{
    color: var(--Primary, #6D9DC5);
text-decoration-line: underline;
}
    }
}
.box-clients{
    padding-bottom: 40px;
}
.opportu-item2 {
    margin-left: 100px;
  }

.internship-section{
    background: var(--Secondary, #91C48A);
    padding: 41px 127px 41px 65px;
}

.opportu-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
}

.opportu-item1{
h1{
    color: var(--ffffff, #FFF);
    font-family: Satoshi;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
}

.opportu-item2{
p{
    color: var(--ffffff, #FFF);
font-family: Satoshi;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 34px;
}
button{
    padding: 14px 26px;
    border-radius: 25px;
background: var(--ffffff, #FFF);
color: var(--Primary, #6D9DC5);
font-family: Satoshi;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}
}

.apply-to{
    display: flex;
    align-items: center;
    height: 800px;

}

.apply ,.apply2,.apply3{
    width: 367px;

flex-shrink: 0;
}

.apply-head-text{
    h1{
        color: var(--Black, #212529);
text-align: center;
font-family: Satoshi;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
span{
    color: var(--Secondary, #91C48A);
}
    }
}

.apply{
position: absolute;
right: 244px;
  top: 242px;
  z-index: 1;

}
.apply2{
    position: absolute;
    right: 511px;
    bottom: 77px;
    z-index: 1;
    }
    .apply3{
        position: absolute;
        left: 77px;
        bottom: 100px;
        z-index: 1;
        }

.apply-section{
    background: #F8F4F0;
    position: relative;
    padding: 100px 112px 100px 77px;
}

.apply-im{
    position: absolute;
    top: 36%;
    right: 615px;
   
    img{
        width: 595px;
height: 546px;
flex-shrink: 0;
z-index: -1;
    }
}

.apply{
    hr{
        width:28px;
height: 5px;
background: var(--Secondary, #1bcc03);
    }
}