
@media (max-width: 1400.00px) { 
  .banner-text {
    padding: 211px 200px 211px 200px;
  }
  .about-head-text h1 {

    font-size: 50px;
  }

  .about-text-clom h4 {
    display: none;
  }
  .discver-bg {
    padding: 70px 0 0px 0;
  }
  .discover {
    padding: 24px 15px 17px 24px;
  }
  .discover-itme3 img {
    width: 370px;
    height: 639px;
  }
  .banner-text h2 {
    font-size: 51px;
  }
  .virtual-head-text h2 {
    font-size: 55px;

  }
  .our-heas-text h2 {
    font-size: 60px;
  }
  .box-client h3 {
    font-size: 55px;
  }
  .faq-head-text h1 {
    font-size: 55px;
  }
  .Contact-section {
    padding: 70px 0 61px 0;
    background: #F8F4F0;
  }
  .form-input1 input {
    padding: 20px 32px;
     width: 484px;
   }
  .form-input input {
    padding: 20px 32px;
    width: 484px;
   }
  .header-items {
    margin-right: 115px;
  }
  .about-menu-text {
    padding: 245px 0 288px 0;
    text-align: center;
  }
  .about-menu-text {
    padding: 239px 0 195px 0;
    text-align: center;
  }
  .moos-massion img {
    height: 493px;
    border-radius: 10px;
  }
  .Careers-text {
    padding: 202px 200px 108px 201px;
  }
  .work-with-avsolt img {
    width: 554px;
    height: 219.33px;
  }
  .virtual-head-text p {
    padding: 15px 268px 30px 268px;
  }
  .apply {
    right: 72px;
    top: 226px;
  }
  .apply-im img {
    width: 478px;
    height: 469px;
  }
  .apply3 {
    left: 25px;
    bottom: 43px;
  }
  .apply2 {
    right: 236px;
    bottom: 94px;
  }
  .apply {
    right: 72px;
    top: 226px;
  }
  .apply-im {
    top: 27%;
    right: 428px;
  }
  .our-clients-say {
    padding: 80px 0 120px 0;
  }
  .contact-bg {
    padding: 80px 0px 71px 0px;
  }
  .other-head h2 {
    font-size: 55px;
    margin-bottom: 80px;
  }
  .follow-media {
    padding: 107px 0 103px 0;
  }
  .faq-asked {
    padding: 54px;
  }
  }

  @media (max-width: 1199.98px) { 
    .header-section {
      padding: 0px 10px 0 10px;
      background: #F8F4F0;
      padding-top: 50px;
    }
    .banner-text h2 {
      font-size: 42px;
    }
    .banner-text {
      padding: 169px 120px 179px 151px;
    }
    .discover-head-text h3 {
      font-size: 42px;
    }
    .discover-head-text h2 {
      font-size: 42px;
    }
    .discover-itme3 img {
      width: 314px;
      height: 713px;
    }
    .our-heas-text h2 {
      font-size: 42px;
    }
    .our-clients-say {
      padding: 70px 0 90px 0;
      background: #F8F4F0;
    }
    .box-client h4 {
      font-size: 42px;
    }
    .faq-head-text h1 {
      font-size: 42px;
    }
    .contact-head-text h2 {
      font-size: 42px;
    }
     .footer-head-text h3 {
      font-size: 42px;
   }
    .form-input input {
      max-width: 395px;
    }
     .form-input1 input {
       max-width: 395px;
     }
    .header-items {
      margin-right: 58px;
    }
    .about-menu-text {
      padding: 132px 0 195px 0;
      text-align: center;
    }
    .Careers-text {
      padding: 128px 120px 82px 107px;
    }
    .work-bg {
      padding: 60px 0 30px 0;
    }
    .work-hed-text h1 {
      font-size: 52px;
      margin-bottom: 40px;
    }
    .work-with-avsolt img {
      width: 424px;
      height: 183.33px;
    }
    .virtual-head-text h2 {
      font-size: 50px;
    }
    .virtual-head-text p {
      padding: 15px 200px 30px 201px;
    }
    .assist-slid h3 {
      font-size: 32px;
    }
    .apply-section {
      padding: 55px 71px 101px 0px;
    }
    .apply {
      right: 21px;
      top: 173px;
    }
    .apply-im img {
      width: 327px;
      height: 419px;
    }
    .apply2 {
      right: 159px;
      bottom: 135px;
    }
    .opportu-item2 {
      margin-left: 0px;
    }
    .internship-section {
      padding: 41px 5px 41px 31px;
    }
    .our-bg {
      width: 50%;
      top: 35%;
    }
    .clients-say {
      margin-left: 100px;
      margin-top: 116px;
    }
    .media-item1 h3 {
      font-size: 32px;
    }
    .media-item2 h3 {
      font-size: 27px;
    }
    .contac-head-text h2 {
      font-size: 50px;
    }
    .other-head h2 {
      font-size: 50px;
      margin-bottom: 70px;
    }
    .other-item p {
      font-size: 15px;
    }
    .img-avsolt .img3 {
      width: 518.72px;
      height: 497.046px;
    }
  }

@media (max-width: 991.98px) { 
.opne-menu{
  display: block;
}
.header-close{
  display: block;
}

.head-scr {
  position: fixed;
  left: -200%;
  top: 0;
  padding: 40px;
  transition: .3s;
  background-color:#ffff;
  color: #000;
  z-index: 100;
  display: block;

  &.active{
      left: 0;
      width: 100%;
    height: 50vh;
  }
}
.btn-close.header-close {
  right: 35px;
  position: absolute;
  top: 33px;
}
.nav {
  display: block;

}
.nav-item {
  margin-bottom: 20px;
}
  .banner-text h2 {
    font-size: 30px;
  }
  .banner-text {
    padding: 125px 101px 153px 151px;
  }
  .about-head-text h1 {
    font-size: 42px;
  }
  .about-img-text p {
    font-size: 16px;
  }
  .about-section {
    padding: 38px 0 49px 0;
  }
  .discver-bg {
    padding: 50px 0 0px 0;
  }
  .box-client {
    padding: 20px 52px;
  }
  .virtual-head-text h2 {
    font-size: 42px;
  }
  .discover-menu {
    grid-template-columns: repeat(2, 3fr);
  }
  .discover-itme3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: -2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 3/-1;
  }
  .discover-itme3 img {
    width: 339px;
    height: 713px;
  }
  .clients-say {
    margin-left: 67px;
    margin-top: 124px;
  }
  .contact-input {
    display: block;
  }
  .form-input input {
    padding: 20px 32px;
    max-width:602px ;
  }
  .form-input1 input {
    padding: 20px 32px;
    max-width: 602px;
  }
  .box-client p {
    margin-bottom: 20px;
  }
  .about-menu-text {
    padding: 94px 0 120px 0;
    text-align: center;
  }
  .stroy-menu {
    grid-template-columns: repeat(1, 1fr);

  }
  .our-story {
    padding: 39px 0 50px 0;
  }
  .Careers-text h1 {
    font-size: 50px;
  }
  .Careers-text h4 {
    font-size: 19px;
  }
  .Careers-text {
    padding: 66px 69px 29px 69px;
  }
  .work-hed-text h1 {
    font-size: 46px;
    margin-bottom: 40px;
  }
  .virtual-head-text p {
    padding: 15px 110px 25px 110px;
  }
  .assist-slid h3 {
    font-size: 26px;
  }
  .apply-head-text h1 {
    font-size: 50px;
  }
  .apply-im img {
    width: 0px;
    height: 0px;
    display: none;
  }
  .apply {
    top: 173px;
    left: 10px;
  }
  .moos-massio h5 {
    margin-bottom: 0px;
  }
  .apply2 {
    right: 206px;
    bottom: 166px;
  }
  .apply3 {
    left: 388px;
    bottom: 567px;
    top: 170px;
  }
  .opportu-menu {
    gap: 50px;
  }
  .opportu-item1 h1 {
    font-size: 50px;
  }
  .box-client h6 {
    font-size: 21px;
  }
  .box-client h3 {
    font-size: 50px;
  }
  .Careers-text {
    padding: 47px 11px 15px 15px;
  }
  .Careers-text h1 {
    font-size: 45px;
  }
  .Careers-text h4 {
    font-size: 17px;
  }
  .work-hed-text h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .work-with-avsolt img {
    width: 0px;
    height: 0px;
    display: none;
  }
  .virtual-head-text p {
    padding: 12px 19px 18px 20px;
  }
  .assist-slid h3 {
    font-size: 30px;
  }
  .apply-to {
    height: 880px;
  }
  .apply2 {
    right: 112px;
    bottom: 289px;
  }
  .apply3 {
    left: 195px;
    bottom: 10px;
    top: 833px;
  }
  .opportu-menu {
    display: block;
  }
  .box-client h6 {
    font-size: 15px;
  }
  .box-client p {
    font-size: 18px;
  }
  .img-avsolt .img2 {
    width: 125px;
    height: 30.1px;
  }
  .img-avsolt .img1 {
    width: 133px;
    height: 24.1px;
  }
  .contac-head-text h2 {
    font-size: 42px;
  }
  .contac-head-text h6 {
    margin-bottom: 15px;
  }
  .img-avsolt .img3 {
    width: 372.72px;
    height: 292.046px;
    top: 82%;
  }
  .other-head h2 {
    font-size: 42px;
    margin-bottom: 50px;
  }
  .menu-other ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .media-item1 h3 {
    font-size: 23px;
  }
  .media-item1 p {
    font-size: 16px;
    margin-bottom: 26px;
  }
  .follow-media hr {
    margin: 0 58px;
  }
  .media-item2 h3 {
    font-size: 24px;
  }
  .follow-media {
    padding: 57px 0 53px 0;
  }
  .quest-menu h3 {
    font-size: 33px;
  }
  .footer-head-text h3 {
    font-size: 42px;
  }

 }

  
 @media (max-width: 767.98px) {
  .banner-text {
    padding: 89px 40px 92px 41px;
  }
  .scrl-dun img {
    width: 80px;
    height: 80px;
  }
  .about-item ul li a {
    font-size: 15px;
  }
  .discover-head-text h2 {
    font-size: 35px;
    margin-bottom: 9px;
  }
  .discover-head-text h3 {
    font-size: 35px;
  }
  .discover-itme3 img {
    width: 257px;
    height: 717px;
  }
  .virtual-head-text h2 {
    font-size: 35px;
  }
  .virtual-head-text h5 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .our-clients-say {
    padding: 50px 0 70px 0;
  }
  .Cwiper-next {
    width: 30px;
    height: 30px;
    right: 30px;
  }
  .Cwiper-prev {
    width: 30px;
    height: 30px;
    right: 80px;
  }
  .box-client {
    margin-top: 50px;
  }
  .box-client h3 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .box-client h4 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .faq-menu-liis {
    display: block;
  }
  .faq-section {
    padding: 57px 0 50px 0;
  }
  .contact-menu-list {
    padding: 20px 15px;
  }

  .discover-menu {
    grid-template-columns: repeat(1, 4fr);
  }
  .discover-itme3 img {
    width: 514px;
    height: 635px;
  }
  .discover-itme3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: -2;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/3;
  }
  .about-menu-text {
    padding: 79px 0 52px 0;
    text-align: center;
  }
  .our-missio-menu ul {
    grid-template-columns: repeat(1, 3fr);
    gap: 20px;
  }
  .Our-Mission {
    padding: 60px 0;
  }
  .our-head img {
    margin-bottom: 30px;
  }
  .story-item2 {
    font-size: 20px;
  }
  .header-section {
    padding-top:0px;
  }
  .header-img a img{
    height: 30px;
  width: 110px;
  }
  .about-menu-text h1 {
    font-size: 50px;
  }
  .img-avsolt .img1 {
    right: 14px;

  }
  .img-avsolt .img2 {
    left: 34px;
    top: 24%;
  }
  .form-input input {
    max-width: 485px;
  }
  .form-input1 input {
    max-width: 485px;
  }
  .other-head h2 {
    font-size: 37px;
    margin-bottom: 40px;
  }
  .menu-other ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .media-menu {
    display: block;
  }
  .follow-media hr {
display: none;
  }
  .media-item1 ul {
    margin-bottom: 32px;
  }
  .other-footer img {
    display: none;
  }
  .quest-menu p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .contac-head-text h2 {
    font-size: 37px;
  }

    }
    @media (max-width: 575.98px) {     
  .banner-text h2 {
    font-size: 22px;

  }
  .banner-text {
    padding: 66px 22px 35px 26px;
  }
  .scrl-dun img {
    width: 40px;
    height: 40px;
  }
  .about-head-text h1 {
    font-size: 30px;
  }
  .about-menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-item ul li a {
    font-size: 18px;
  }
  .discover-head-text h3 {
    font-size: 30px;
  }
  .discover-head-text h2 {
    font-size: 32px;
    margin-bottom: 9px;
  }
  .discover-itme3 img {
    width: 348px;
    height: 635px;
  }
  .virtual-head-text h2 {
    font-size: 30px;
  }
  .icon-fac img {
    width: 22px;
    height: 22px;
  }
  .our-heas-text h2 {
    font-size: 30px;
  }
  .our-heas-text p {
    font-size: 13px;
  }
  .our-bg {
    width: 50%;
    top: 30%;
  }
  .box-client h4 {
    font-size: 29px;
    margin-bottom: 15px;
  }
  .box-client p {
    font-size: 15px;
  }
  .box-client h3 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .faq-head-text h1 {
    font-size: 27px;
  }
  .top-bottom.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 33;
    bottom: 50px;
    right: 50px;
  }
  .about-menu-text h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .about-menu-text p {
    font-size: 18px;
  }
  .our-head-text h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .story-item2 {
    font-size: 15px;
    line-height: 33px;
  }
  .moos-massio {
    padding: 10px 10px 15px 20px;
  }
  .moos-massion h3 {
    left: 43px;
    bottom: 28px;
    font-size: 40px;
  }
  .moos-massion img {
    height: 421px;
    border-radius: 10px;
  }
  .header-img a img{
    height: 25px;
  width: 91px;
  }
  .header-menu {
    padding: 21px 25px;
  }
  .about-menu-text {
    padding: 49px 0 29px 0;
  }
  .Our-Mission {
    padding: 30px 0;
  }
  .Careers-text h4 {
    font-size: 12px;
  }
  .Careers-text p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .Careers-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .massio-icom h4 {
    padding: 19px;
  }
  .virtual-head-text p {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
  }
  .apply-section {
    padding: 30px 0px 102px 0px;
  }
  .moos-massio {
    padding: 10px 10px 5px 10px;
  }
  .apply {
    top: 123px;
    left: 5px;
  }
  .apply2 {
    right: 3px;
    bottom: 377px;
  }
  .apply3 {
    left: 5px;
    bottom: 71px;
    top: 749px;
  }
  .box-client h6 {
    margin-bottom: 7px;
  }
  .contac-head-text h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .img-avsolt .img1 {
    width: 85px;
    height: 16.1px;
    top: 6%;
  }
  .img-avsolt .img2 {
    width: 89px;
    height: 18.1px;
    left: 34px;
    top: 25%;
  }
  .contac-head-text p {
    font-size: 12px;
    line-height: 24px;
  }
  .form-input input {
    max-width: 319px;
  }
  .form-input1 input {
    max-width: 319px;
  }
  .img-avsolt .img3 {
    width: 164.72px;
    height: 133.046px;
    top: 88%;
  }
  .other-head h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .other-item h3 {
    font-size: 29px;
  }
  .quest-menu h3 {
    font-size: 19px;
  }
  .frequ-img .img12 {
    left: -129px;
    bottom: -122px;
    width: 305.127px;
    height: 178.083px;
  }
  .frequ-img .img13 {
    right: -136px;
    top: -99px;
    width: 327.127px;
    height: 161.083px;
  }
    }